#app{
    position: relative; 
}

#header{
    position: sticky;
    top: 0;
    height: 60px;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0, 27, 55, 0.1);
    background-color: white;
} 

#header_container{
    max-width: 1140px;
    margin: 0 auto;
}

#outer_container{
    width: 92%;
    height: 60px;
    margin: 0 auto;
}

#inner_container{
    display: flex;
    height: 100%;
    width: 100%;
}

#logo_container{
    align-items: center;
    display: flex;
    width: 120px;
    cursor: pointer;
}
