/*github.com/jgthms/minireset.css를 참고하여 reset css를 추가하였습니다.*/

html,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

img{
  height: auto;
  max-width: 100%;
}
