#app {
    position: relative; 
}

#header {
    position: sticky;
    top: 0;
    height: 60px;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0, 27, 55, 0.1); 
    background-color: white;
} 

#footer {
    background: rgba(2,9,19,0.91);
    padding: 60px 24px;
    margin-top: 192px;
}
